/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Arial, sans-serif;
    background: var(--secondary-color);
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Scrollbar Styles */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--black05);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: var(--box-radius);
}

/* Button Styles */
.btn {
    --bs-btn-border-radius: var(--box-radius);
    font-weight: lighter;
}

.btn,
.card-header ul,
button,
.toast {
    font-weight: lighter;
}

/* Logo Styles */
.logo {
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: normal;
}

/* Card Styles */
.card {
    background: var(--secondary-color);
}

/* Chat Header Styles */
.chat-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: var(--header-height);
    gap: 0.5rem;
    position: fixed;
    top: 0;
    z-index: 1020;
    backdrop-filter: blur(20px);
    background: transparent;
    /*border-bottom: 1px solid var(--white01);*/
    border-bottom: none !important;
    background: var(--white001);
}

.chat-header .logo {
    grid-column: 2;
    /*letter-spacing: 0.1rem;*/
}

.chat-header .actions {
    grid-column: 3;
    justify-self: end;
}

.chat-header .dropdown-toggle.text-truncate {
    /*max-width: 18rem;*/
}

.chat-header .dropdown .dropdown-menu .dropdown-item:hover {
    background: var(--white005);
    color: var(--text-color) !important;
    border: 0;
}

.chat-header .btn,
.chat-header .btn:focus {
    border: 1px solid var(--white01);
    border-radius: var(--box-radius);
    background: var(--secondary-color);
    color: var(--text-color);
}

.chat-header .btn:hover,
.chat-header .btn:focus-visible {
    background: var(--white005);
}

.chat-header .dropdown-item.active {
    color: var(--text-color) !important;
    background: transparent;
    font-weight: bold;
    background: var(--white005);
}

.chat-header .dropdown .dropdown-menu a {
    color: var(--text-color);
}

.chat-header .dropdown .dropdown-menu {
    border: 2px solid var(--white01);
    background: var(--dark-additional-color);
    margin-top: 5px;
}

.chat-header h2 {
    margin: 0;
    font-size: 2rem;
}

/* Chat Body Styles */
.chat-body {
    padding: 1.5rem;
    overflow-y: auto;
}

.chat-body-shadow {
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 3rem 3rem var(--secondary-color);
    position: fixed;
    z-index: 1;
}

/* Chat Status Styles */
.chat-status-container {
    position: relative;
}

.chat-status {
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 1rem;
    top: -3.5rem;
}

.chat-status-content {
    color: var(--text-color);
    background: var(--secondary-color);
    border-radius: 2rem;
    padding: 0.2rem 1rem;
    display: inline-block;
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: 0 0 1rem var(--secondary-color);
}

.chat-status i {
    padding-right: 0.2rem;
    animation: 2s checkStatusAnimation;
    animation-iteration-count: infinite;
}

@keyframes checkStatusAnimation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.chat-status-transition-enter {
    opacity: 0;
}

.chat-status-transition-enter-active {
    opacity: 1;
    transition: opacity var(--small-animation-duration);
}

.chat-status-transition-exit {
    opacity: 1;
}

.chat-status-transition-exit-active {
    opacity: 0;
    transition: opacity var(--medium-animation-duration);
}

/* Chat Footer Styles */
.chat-footer {
    position: fixed;
    border: 0;
    width: 80%;
    max-width: 50rem;
    bottom: 0;
    margin: 1.5rem calc((100% - min(80%, 50rem)) / 2);
    z-index: 1;
}

.chat-footer form {
    display: flex;
    flex-direction: column;
}

.chat-footer .input-group {
    box-shadow: 0 0 1rem var(--secondary-color);
    background: var(--tertiary-color);
    border: 2px solid var(--white01);
    border-radius: var(--box-radius);
    overflow: hidden;
}

.chat-footer textarea {
    border-radius: var(--box-radius) 0 0 var(--box-radius) !important;
    background: var(--tertiary-color);
    color: var(--text-color);
    padding: 1rem;
    border: 0;
}

.chat-footer textarea:focus,
.chat-footer .form-control:disabled {
    background: var(--tertiary-color);
    color: var(--text-color);
    box-shadow: none;
    border: 0;
}

.chat-footer .input-btn {
    border-left: 0;
    width: 2.5rem !important;
}

.chat-footer .input-btn i {
    opacity: 0.5;
}

@keyframes input-btn-blink {
    0% {
        text-shadow: 0 0 0.5rem var(--text-color);
    }
    50% {
        text-shadow: 0 0 0 var(--text-color);
    }
    100% {
        text-shadow: 0 0 0.5rem var(--text-color);
    }
}

.chat-footer .input-btn.active i {
    opacity: 1;
    animation-name: input-btn-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.chat-footer .input-btn:hover i {
    opacity: 1;
    transition: all var(--small-animation-duration) ease-out;
}

.form-control::placeholder {
    color: var(--white05);
}

.chat-footer button[type='submit'] {
    border-radius: 0;
    background: var(--tertiary-color);
    margin-left: 0 !important;
    width: 5rem;
    border: 0;
}

.chat-footer button[type='submit']:focus,
.chat-footer button[type='submit']:active {
    box-shadow: none;
    background: var(--tertiary-color);
    border: 0;
}

.chat-footer button[type='submit']:last-child,
.chat-footer button[type='submit']:last-child:focus,
.chat-footer button[type='submit']:last-child:active {
    border-left: 2px solid var(--white01);
}

.chat-footer #send-btn:hover {
    background: var(--white005);
}

@keyframes recording {
    from {
        text-shadow: var(--text-color) 0 0 0;
    }

    50% {
        text-shadow: var(--text-color) 0 0 1rem;
    }

    to {
        text-shadow: var(--text-color) 0 0 0;
    }
}

/* Message Styles */
.message {
    color: var(--text-color);
    max-width: 90%;
    margin-bottom: 1rem;
    animation: 0.2s messageAppearAnimation;
}

.chat-body > .message {
    margin-top: 3.5rem;
}

.chat-body > .message ~ .message {
    margin-top: 0;
}

.message img {
    max-width: 100%;
}

.message-text {
    min-width: 0;
    padding: 1rem;
    border-radius: var(--box-radius-2);
    /*border: 2px solid transparent;*/
}

.message-text pre div {
    border-radius: var(--box-radius);
    background: rgba(43, 43, 43, 0.75) !important;
    margin-top: 0 !important;
}

.user-message {
    margin-left: auto;
}

.user-message :first-child {
    margin-left: auto;
}

.user-message .message-text {
    background: var(--white01);
    border-bottom-right-radius: 0;
}

.received-message {
    margin-right: auto;
}

.received-message :last-child {
    margin-right: auto;
}

.received-message .message-text {
    background: var(--dark-additional-color);
    /*border: 2px solid var(--white01);*/
    border-bottom-left-radius: 0;
}

.message-button {
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0 var(--box-radius-2) var(--box-radius-2) 0;
    background: var(--white005);
    display: inline-block;
    cursor: pointer;
    transition: all var(--small-animation-duration) ease-out;
}

.message-button:hover {
    background: var(--white01);
}

.message-buttons :last-child .message-button {
    border-bottom-left-radius: var(--box-radius-2) !important;
}

.message-controllers .btn {
    background: transparent;
    border: 0;
    opacity: 0.04;
    transition: all var(--small-animation-duration) ease-out;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
}

.message-controllers .btn:first-child {
    padding-top: var(--bs-btn-padding-y);
}

.message-controllers .btn:last-child {
    padding-bottom: var(--bs-btn-padding-y);
}

.message-controllers .btn:not(:first-child) {
    opacity: 0;
}

.message-controllers:hover .btn {
    opacity: 0.1;
}

.message-footer-text {
    opacity: 0.1;
    transition: all var(--small-animation-duration) ease-out;
}

.message-controllers .btn:hover {
    opacity: 1;
}

.message-controllers .btn:active {
    background: transparent;
}

.message-text :last-child {
    margin-bottom: 0 !important;
}

@keyframes messageAppearAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Blockquote Styles */
blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: 0.2rem var(--text-color) solid;
}

/* Toast Styles */
.toast {
    margin-top: 0 !important;
    background: var(--dark-additional-color);
    color: var(--text-color);
    border: 2px solid var(--white01);
    border-bottom: 0;
    border-radius: 0;
    margin-bottom: 0 !important;
    box-shadow: none;
    background: var(--secondary-color);
}

.toast-container {
    margin-top: 3.5rem;
}

.toast-container > :first-child {
    border-top: 0;
}

.toast-container > :last-child {
    border-bottom: 2px solid var(--white01);
    border-radius: 0 0 var(--box-radius-2) var(--box-radius-2);
}

.toast .btn {
    background-color: transparent;
}

.toast-body :last-child {
    margin-bottom: 0 !important;
}

/* Math Styles */
.math {
    position: relative;
}

.hover-opacity {
    opacity: 0.5;
}

.hover-opacity:hover {
    opacity: 1;
    transition: all var(--small-animation-duration) ease-out;
}

.katex .katex-mathml {
    /* To fix oversize */
    display: none;
}

/* File Badge Styles */
/*.file-badge {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    margin: 0.5rem 0.5rem 0 0; !* Add some spacing between badges *!*/
/*    padding: 0.25rem 0.5rem; !* Optional: Adjust padding for better appearance *!*/
/*    white-space: nowrap; !* Prevent the text from wrapping *!*/
/*}*/

.file-attachments {
}

.file-attachments .file-attachment-close {
    display: inline-block;
    cursor: pointer;
}

.file-attachment {
    border-radius: var(--box-radius);
    border: 2px solid var(--white01);
    display: inline-block;
    background: var(--text-color);
    box-shadow: 0 0 1rem var(--secondary-color);
    margin: 0.5rem;
    margin-left: 0;
    margin-bottom: 0;
    padding-right: 1rem;
}

.message .file-attachment {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.file-attachment img {
    max-width: 5rem;
    max-height: 5rem;
    object-fit: cover;
    border-radius: var(--box-radius);
}

.file-attachment-body {
    display: inline-block;
    margin: 0 1rem;
    color: var(--black075);
}

.message .file-attachment-body {
    margin-right: 0;
}

/* Code blocks (copy button) */
.btn-copy {
    background: var(--text-color);
    color: var(--primary-color);
    opacity: 0.1;
    transition: opacity var(--small-animation-duration);
    position: absolute;
    top: 0;
    margin-top: 0.4rem;
    right: 0.4rem;
    z-index: 1;
}

.btn-copy:hover {
    background: var(--text-color);
    color: var(--primary-color);
    opacity: 0.3;
}
